<app-dynamic-modal
  [title]="'Add new Contract'"
  [showModal]="showModalAdd"
  (closeModal)="closeModalAdd()"
>
  <app-dynamic-form-array
    [formValue]="{
      formActiveProject: contractForm.get('formActiveProject')?.value,
    }"
    [dynamicForm]="contractForm"
    [formConfig]="formConfig"
    [formArray]="formItemDetailList"
    [formArrayName]="'formItemDetailList'"
    [itemConfig]="formArrayConfig"
    [labelFormArray]="'Item Details'"
    (itemAdded)="addItemDetail()"
    (itemRemoved)="removeItemDetail($event)"
    (formSubmit)="handleFormSubmit($event, 'add')"
    (formCancel)="handleFormCancel()"
  ></app-dynamic-form-array>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Edit Contract ' + contractNo"
  [showModal]="showModalEdit"
  (closeModal)="closeModalEdit()"
>
  <app-dynamic-form-array
    [formValue]="{
      formActiveProject: contractForm.get('formActiveProject')?.value,
    }"
    [dynamicForm]="contractForm"
    [formConfig]="formConfig"
    [formArray]="formItemDetailList"
    [formArrayName]="'formItemDetailList'"
    [itemConfig]="formArrayConfig"
    [labelFormArray]="'Item Details'"
    (itemAdded)="editItemDetail()"
    (itemRemoved)="removeItemDetail($event)"
    (formSubmit)="handleFormSubmit($event, 'action')"
    (formCancel)="handleFormCancel()"
  ></app-dynamic-form-array>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Contract ' + contractNo"
  [showModal]="showModalItemDetails"
  (closeModal)="closeModalItemDetails()"
>
  <div class="w-full flex flex-col items-center justify-center">
    <div class="w-full flex flex-col items-center justify-center p-5">
      <app-dynamic-table
        [headers]="headersItemDetails"
        [rows]="dataItemDetails"
        [hasFooter]="false"
      >
      </app-dynamic-table>
    </div>

    <div class="w-full flex gap-4 items-center justify-center p-5">
      <button
        type="button"
        class="w-full sm:min-w-[140px] sm:max-w-[140px] py-2 px-4 bg-custom-light-red text-xs font-semibold rounded-lg hover:bg-custom-red focus:outline-none focus:ring-2 focus:ring-custom-light-red focus:ring-opacity-50"
        (click)="closeModalItemDetails()"
      >
        Close
      </button>
    </div>
  </div>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Contract ' + contractNo"
  [showModal]="showModalRevision"
  (closeModal)="closeModalRevision()"
>
  <div class="w-full flex flex-col items-center justify-center">
    <div class="w-full flex flex-col items-center justify-center p-5">
      <app-dynamic-table
        [headers]="headersDetailRevision"
        [rows]="dataDetailRevision"
        [hasFooter]="false"
        class="h-[400px] overflow-auto"
      >
      </app-dynamic-table>
    </div>

    <div class="w-full flex gap-4 items-center justify-center p-5">
      <button
        type="button"
        class="w-full sm:min-w-[140px] sm:max-w-[140px] py-2 px-4 bg-custom-light-red text-xs font-semibold rounded-lg hover:bg-custom-red focus:outline-none focus:ring-2 focus:ring-custom-light-red focus:ring-opacity-50"
        (click)="closeModalRevision()"
      >
        Close
      </button>
    </div>
  </div>
</app-dynamic-modal>

<app-content-filter
  [title]="'Filter'"
  (buttonClickApply)="handleButtonClick({ key: 'apply' })"
  (buttonClickClear)="handleButtonClick({ key: 'clear' })"
>
  <app-dynamic-input
    type="text"
    [value]="filterForm.get('partnerName')?.value"
    placeholder="Enter text"
    label="Customer Name"
    formControlName="partnerName"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'partnerName')"
  ></app-dynamic-input>

  <app-dynamic-input
    type="text"
    [value]="filterForm.get('contractName')?.value"
    placeholder="Enter text"
    label="Contract Name"
    formControlName="contractName"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'contractName')"
  ></app-dynamic-input>

  <div class="flex flex-wrap items-end content-center gap-4">
    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('startDate')?.value"
      label="Contract Date"
      formControlName="startDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'startDate')"
    ></app-dynamic-input>

    <span class="mb-2 font-medium text-sm">Until</span>

    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('endDate')?.value"
      formControlName="endDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'endDate')"
    ></app-dynamic-input>
  </div>
</app-content-filter>

<app-content-table
  [title]="'Contract List'"
  [label]="'Add New Contract'"
  [hasButton]="true"
  (buttonClick)="handleButtonClick({ key: 'add' })"
>
  <app-dynamic-table
    [headers]="headers"
    [rows]="data"
    [totalPages]="totalPages"
    [pageSize]="pageSize"
    [currentPage]="pageNo + 1"
    (buttonPagination)="onPageChange($event)"
    (buttonClick)="handleButtonClick($event)"
  >
  </app-dynamic-table>
</app-content-table>
