<app-dynamic-modal
  [title]="'Add new Contract'"
  [showModal]="showModalAdd"
  (closeModal)="closeModalAdd()"
>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Edit Contract ' + itemDetail"
  [showModal]="showModalEdit"
  (closeModal)="closeModalEdit()"
>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Revision'"
  [showModal]="showModalRevision"
  (closeModal)="closeModalRevision()"
>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="itemDetail"
  [showModal]="showModalItemDetails"
  (closeModal)="closeModalItemDetails()"
>
</app-dynamic-modal>

<app-content-filter
  [title]="'Filter'"
  (buttonClickApply)="handleButtonClick({ key: 'apply' })"
  (buttonClickClear)="handleButtonClick({ key: 'clear' })"
>
  <app-dynamic-input
    type="text"
    [value]="textValue"
    placeholder="Enter text"
    [disabled]="isDisabled"
    label="Contract Code"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>

  <app-dynamic-input
    type="datepicker"
    [value]="dateValue"
    [disabled]="isDisabled"
    label="Valid Contract Date"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>

  <app-dynamic-input
    type="datepicker"
    [value]="dateValue"
    [disabled]="isDisabled"
    label="Invalid Contract Date"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>
</app-content-filter>

<app-content-table
  [title]="'Contract List'"
  [label]="'Add New Contract'"
  [hasButton]="true"
  (buttonClick)="handleButtonClick({ key: 'add' })"
>
  <app-dynamic-table
    [headers]="headers"
    [rows]="data"
    (buttonClick)="handleButtonClick($event)"
  >
  </app-dynamic-table>
</app-content-table>
