<div class="bg-custom-light-gray">
  <app-content-account class="bg-white">
    <app-dynamic-account-v2
      [header]="'Account Information'"
      [bgColor]="'bg-white'"
    >
      <div class="w-full flex flex-col gap-6 my-6">
        <div class="w-full sm:px-28 flex justify-center items-center">
          <div
            class="w-full flex justify-between items-center border-b-2 border-black pb-2"
          >
            <div class="w-full flex flex-col items-start gap-2">
              <span class="text-sm font-semibold shadow-drop">Full Name</span>
              <span class="text-xs">{{ fullName }}</span>
            </div>
            <button
              (click)="navigateTo('/change-full-name')"
              class="w-full min-w-[80px] max-w-[80px] h-full min-h-[20px] max-h-[20px] px-4 bg-custom-light-yellow text-xs font-semibold rounded hover:bg-custom-yellow focus:outline-none focus:ring-2 focus:ring-custom-light-yellow focus:ring-opacity-50 disabled:bg-gray-400 disabled:text-gray-600"
            >
              Change
            </button>
          </div>
        </div>
        <div class="w-full sm:px-28 flex justify-center items-center">
          <div
            class="w-full flex justify-between items-center border-b-2 border-black pb-2"
          >
            <div class="w-full flex flex-col items-start gap-2">
              <span class="text-sm font-semibold shadow-drop">Username</span>
              <span class="text-xs">{{ username }}</span>
            </div>
          </div>
        </div>
        <div class="w-full sm:px-28 flex justify-center items-center">
          <div
            class="w-full flex justify-between items-center border-b-2 border-black pb-2"
          >
            <div class="w-full flex flex-col items-start gap-2">
              <span class="text-sm font-semibold shadow-drop">Email</span>
              <span class="text-xs">{{ email }}</span>
            </div>
          </div>
        </div>
        <div class="w-full sm:px-28 flex justify-center items-center">
          <div
            class="w-full flex justify-between items-center border-b-2 border-black pb-2"
          >
            <div class="w-full flex flex-col items-start gap-2">
              <span class="text-sm font-semibold shadow-drop"
                >Phone Number</span
              >
              <span class="text-xs">{{ contact }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full flex flex-col justify-center items-center gap-4">
        <span class="text-sm font-semibold shadow-drop"
          >Role: {{ roleCode }}</span
        >
        <button
          (click)="navigateTo('/change-password')"
          class="p-2 bg-custom-light-yellow text-xs font-semibold rounded hover:bg-custom-yellow focus:outline-none focus:ring-2 focus:ring-custom-light-yellow focus:ring-opacity-50 disabled:bg-gray-400 disabled:text-gray-600"
        >
          Change Password
        </button>
      </div>
    </app-dynamic-account-v2>
  </app-content-account>
</div>
