<app-dynamic-modal
  [title]="'Form'"
  [showModal]="showModalForm"
  (closeModal)="closeModalForm()"
>
  <app-dynamic-input
    type="text"
    [value]="textValue"
    placeholder="Enter text"
    [disabled]="isDisabled"
    label="Text Input"
    [inputClass]="'px-3 py-2 border rounded'"
    [labelClass]="'text-gray-700'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>

  <app-dynamic-input
    type="number"
    [value]="numberValue"
    placeholder="Enter number"
    [disabled]="isDisabled"
    label="Number Input"
    [inputClass]="'px-3 py-2 border rounded'"
    [labelClass]="'text-gray-700'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>

  <app-dynamic-input
    type="dropdown"
    [value]="selectedOption"
    [options]="dropdownOptions"
    [disabled]="isDisabled"
    label="Dropdown"
    [inputClass]="'px-3 py-2 border rounded'"
    [labelClass]="'text-gray-700'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>

  <app-dynamic-input
    type="textarea"
    [value]="textareaValue"
    placeholder="Enter text"
    [disabled]="isDisabled"
    label="Textarea"
    [inputClass]="'px-3 py-2 border rounded'"
    [labelClass]="'text-gray-700'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>

  <app-dynamic-input
    type="datepicker"
    [value]="dateValue"
    [disabled]="isDisabled"
    label="Datepicker"
    [inputClass]="'px-3 py-2 border rounded'"
    [labelClass]="'text-gray-700'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="invoiceNo"
  [showModal]="showModalDetail"
  (closeModal)="closeModalDetail()"
>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Add new Invoice'"
  [showModal]="showModalAdd"
  (closeModal)="closeModalAdd()"
>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Invoice Approval'"
  [showModal]="showModalInvoiceStatus"
  (closeModal)="closeModalInvoiceStatus()"
>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Add new Cash In'"
  [showModal]="showModalPayment"
  (closeModal)="closeModalPayment()"
>
</app-dynamic-modal>

<app-content-card>
  <div class="flex gap-4" *ngFor="let card of cards">
    <app-dynamic-card [headerText]="card.headerText" [sections]="card.sections">
    </app-dynamic-card>
  </div>
</app-content-card>

<app-content-filter
  [title]="'Filter'"
  (buttonClickApply)="handleButtonClick({ key: 'apply' })"
  (buttonClickClear)="handleButtonClick({ key: 'clear' })"
>
  <app-dynamic-input
    type="text"
    [value]="textValue"
    placeholder="Enter text"
    [disabled]="isDisabled"
    label="Partner"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>

  <app-dynamic-input
    type="text"
    [value]="textValue"
    placeholder="Enter text"
    [disabled]="isDisabled"
    label="Project"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>

  <app-dynamic-input
    type="dropdown"
    [value]="selectedOption"
    placeholder="Select an option"
    [options]="dropdownOptions"
    [disabled]="isDisabled"
    label="Invoice Status"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event)"
  ></app-dynamic-input>

  <div class="flex flex-wrap items-end content-center gap-4">
    <app-dynamic-input
      type="datepicker"
      [value]="dateValue"
      [disabled]="isDisabled"
      label="Date"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event)"
    ></app-dynamic-input>

    <span class="mb-2 font-medium text-sm">Until</span>

    <app-dynamic-input
      type="datepicker"
      [value]="dateValue"
      [disabled]="isDisabled"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event)"
    ></app-dynamic-input>
  </div>
</app-content-filter>

<app-content-table
  [title]="'Invoice List'"
  [label]="'Add New Invoice'"
  [hasButton]="true"
  (buttonClick)="handleButtonClick({ key: 'add' })"
>
  <app-dynamic-table
    [headers]="headers"
    [rows]="data"
    (buttonClick)="handleButtonClick($event)"
  >
  </app-dynamic-table>
</app-content-table>
