<app-dynamic-modal
  [title]="invoiceNo"
  [showModal]="showModalDetail"
  (closeModal)="closeModalDetail()"
  [mWClass]="'max-w-[80%]'"
>
  <div class="w-full flex flex-col items-center justify-center">
    <div class="w-full p-5">
      <app-dynamic-table
        *ngIf="dataDetailARInvoice.length > 0"
        [headers]="headersDetailARInvoice"
        [rows]="dataDetailARInvoice"
        [hasFooter]="false"
      >
      </app-dynamic-table>
      <div
        *ngIf="dataDetailARInvoice.length === 0"
        class="text-center text-gray-500"
      >
        No data available.
      </div>
    </div>

    <div class="w-full flex gap-4 items-center justify-center p-5">
      <button
        type="button"
        class="w-full sm:min-w-[140px] sm:max-w-[140px] py-2 px-4 bg-custom-light-red text-xs font-semibold rounded-lg hover:bg-custom-red focus:outline-none focus:ring-2 focus:ring-custom-light-red focus:ring-opacity-50"
        (click)="closeModalDetail()"
      >
        Close
      </button>
    </div>
  </div>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Add new Invoice'"
  [showModal]="showModalAdd"
  (closeModal)="closeModalAdd()"
>
  <app-dynamic-form-array-v2
    [dynamicForm]="arMonitoringForm"
    [formConfig]="formConfig"
    [formSimpleConfig]="formSimpleConfig"
    [formLastConfig]="formLastConfig"
    [formArray]="formItemDetailList"
    [formSimpleArray]="formPPH"
    [formArrayName]="'formItemDetailList'"
    [formSimpleArrayName]="'formPPH'"
    [itemConfig]="formArrayConfig"
    [itemSimpleConfig]="formSimpleConfig"
    [labelFormArray]="'Item Details'"
    [labelFormSimpleArray]="'PPH'"
    (formSubmit)="handleFormSubmit($event, 'add')"
    (formCancel)="handleFormCancel()"
  ></app-dynamic-form-array-v2>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Invoice Approval'"
  [showModal]="showModalInvoiceStatus"
  (closeModal)="closeModalInvoiceStatus()"
>
  <app-dynamic-form-array-preview-v2
    [dynamicForm]="arMonitoringForm"
    [formPreviewConfig]="formPreviewConfig"
    [formPreviewArray]="formItemDetailList"
    [formPreviewArrayName]="'formItemDetailList'"
    [itemPreviewConfig]="formPreviewArrayConfig"
    [labelFormPreviewArray]="'Item Details'"
    (formSubmit)="handleFormPreviewSubmit($event)"
    (formCancel)="handleFormCancel()"
  ></app-dynamic-form-array-preview-v2>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Add new Cash In'"
  [showModal]="showModalPayment"
  (closeModal)="closeModalPayment()"
>
  <app-dynamic-form-cash-in
    [invoiceNo]="invoiceNo"
    [partnerName]="partnerName"
    [projectName]="projectName"
    [amount]="amount"
    [netAmount]="netAmount"
    [paidAmount]="paidAmount"
    [interestDeduction]="interestDeduction"
    [otherDeduction]="otherDeduction"
    [paymentAmount]="paymentAmount"
    [optionsPaymentBank]="dropdownOptionsPaymentBank"
    (formSubmit)="handleFormSubmit($event, 'create')"
    (formCancel)="closeModalPayment()"
  ></app-dynamic-form-cash-in>
</app-dynamic-modal>

<app-content-card>
  <div class="flex gap-4" *ngFor="let card of cards">
    <app-dynamic-card [headerText]="card.headerText" [sections]="card.sections">
    </app-dynamic-card>
  </div>
</app-content-card>

<app-content-filter
  [title]="'Filter'"
  (buttonClickApply)="handleButtonClick({ key: 'apply' })"
  (buttonClickClear)="handleButtonClick({ key: 'clear' })"
>
  <app-dynamic-input
    type="text"
    [value]="filterForm.get('partnerName')?.value"
    placeholder="Enter text"
    label="Customer"
    formControlName="partnerName"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'partnerName')"
  ></app-dynamic-input>

  <app-dynamic-input
    type="text"
    [value]="filterForm.get('projectName')?.value"
    placeholder="Enter text"
    label="Project"
    formControlName="projectName"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'projectName')"
  ></app-dynamic-input>

  <app-dynamic-input
    type="dropdown"
    [value]="filterForm.get('invoiceStatus')?.value"
    placeholder="Select an option"
    [options]="dropdownOptions"
    label="Invoice Status"
    formControlName="invoiceStatus"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'invoiceStatus')"
  ></app-dynamic-input>

  <div class="flex flex-wrap items-end content-center gap-4">
    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('startDate')?.value"
      label="Invoice Date"
      formControlName="startDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'startDate')"
    ></app-dynamic-input>

    <span class="mb-2 font-medium text-sm">Until</span>

    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('endDate')?.value"
      formControlName="endDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'endDate')"
    ></app-dynamic-input>
  </div>
</app-content-filter>

<app-content-table
  [title]="'Invoice List'"
  [label]="'Add New Invoice'"
  [hasButton]="true"
  (buttonClick)="handleButtonClick({ key: 'add' })"
>
  <app-dynamic-table
    [headers]="headers"
    [rows]="data"
    [totalPages]="totalPages"
    [pageSize]="pageSize"
    [currentPage]="pageNo + 1"
    (buttonPagination)="onPageChange($event)"
    (buttonClick)="handleButtonClick($event)"
  >
  </app-dynamic-table>
</app-content-table>
