<form [formGroup]="customForm" (ngSubmit)="onSubmit()">
  <div class="w-full flex flex-col items-center justify-center">
    <div
      class="w-full flex flex-col items-center max-h-[450px] overflow-y-auto"
    >
      <div
        class="w-full flex flex-col justify-between p-5 sm:min-w-[400px] sm:max-w-[400px]"
      >
        <label for="invoiceNo" class="text-sm mb-1">Invoice No</label>
        <input
          id="invoiceNo"
          type="text"
          formControlName="invoiceNo"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none cursor-not-allowed"
          [attr.disabled]="true"
          [readonly]="true"
        />

        <label for="partnerName" class="text-sm mb-1">Customer Name</label>
        <input
          id="partnerName"
          type="text"
          formControlName="partnerName"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none cursor-not-allowed"
          [attr.disabled]="true"
          [readonly]="true"
        />

        <label for="projectName" class="text-sm mb-1">Project Name</label>
        <input
          id="projectName"
          type="text"
          formControlName="projectName"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none cursor-not-allowed"
          [attr.disabled]="true"
          [readonly]="true"
        />

        <label for="paymentAmount" class="text-sm mb-1">Payment Amount</label>
        <input
          id="paymentAmount"
          type="text"
          formControlName="paymentAmount"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none cursor-not-allowed"
          [attr.disabled]="true"
          [readonly]="true"
        />
      </div>
    </div>

    <div
      class="w-full flex flex-col sm:flex-row gap-4 items-center justify-between p-5 sm:min-w-[400px] sm:max-w-[400px]"
    >
      <button
        type="submit"
        class="w-full sm:min-w-[140px] sm:max-w-[140px] py-2 px-4 bg-custom-light-yellow text-xs font-semibold rounded-lg hover:bg-custom-yellow focus:outline-none focus:ring-2 focus:ring-custom-light-yellow focus:ring-opacity-50 disabled:bg-gray-400 disabled:text-gray-600"
      >
        Complete
      </button>
      <button
        type="button"
        class="w-full sm:min-w-[140px] sm:max-w-[140px] py-2 px-4 bg-custom-light-red text-xs font-semibold rounded-lg hover:bg-custom-red focus:outline-none focus:ring-2 focus:ring-custom-light-red focus:ring-opacity-50"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
