<app-content-form
  [title]="'Cash Out Mutation'"
  [hasValue]="true"
  [value]="paymentAmount"
  [hasId]="name ? true : false"
  [id]="name"
  [isRequestInvalid]="isRequestInvalid"
  (submitForm)="openPaymentBankPopup()"
>
  <app-dynamic-form
    [formGroup]="formGroup"
    [fields]="fields"
  ></app-dynamic-form>
</app-content-form>

<app-payment-bank-popup
  #paymentBankPopup
  [optionsPaymentBank]="dropdownOptionsPaymentBank"
  (bankSelected)="onPaymentBankSelected($event)"
></app-payment-bank-popup>
