<app-content-card>
  <div class="flex gap-4" *ngFor="let card of cards">
    <app-dynamic-card-v2
      [headerText]="card.headerText"
      [sections]="card.sections"
    >
    </app-dynamic-card-v2>
  </div>
</app-content-card>

<app-dynamic-modal
  [title]="'Add New Facility Asset Transaction'"
  [showModal]="showModalAdd"
  (closeModal)="closeModalAdd()"
>
  <app-dynamic-form-on-pop-up
    [dynamicForm]="facilityAssetForm"
    [formConfig]="formConfig"
    (formSubmit)="handleFormSubmit($event, 'add')"
    (formCancel)="handleFormCancel()"
  >
  </app-dynamic-form-on-pop-up>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Edit Facility Asset Transaction'"
  [showModal]="showModalEdit"
  (closeModal)="closeModalEdit()"
>
  <app-dynamic-form-on-pop-up
    [dynamicForm]="facilityAssetForm"
    [formConfig]="formConfigV2"
    (formSubmit)="handleFormSubmit($event, 'edit')"
    (formCancel)="handleFormCancel()"
  >
  </app-dynamic-form-on-pop-up>
</app-dynamic-modal>

<app-content-filter
  [title]="'Filter'"
  (buttonClickApply)="handleButtonClick({ key: 'apply' })"
  (buttonClickClear)="handleButtonClick({ key: 'clear' })"
>
  <app-dynamic-input
    type="text"
    [value]="filterForm.get('companyName')?.value"
    placeholder="Enter text"
    label="Company Name"
    formControlName="companyName"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'companyName')"
  ></app-dynamic-input>

  <app-dynamic-input
    type="searchable-dropdown"
    [value]="filterForm.get('projectName')?.value"
    placeholder="Select an option"
    [options]="dropdownOptionsProjectFilter"
    label="Project Name"
    formControlName="projectName"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'projectName')"
  ></app-dynamic-input>

  <app-dynamic-input
    type="searchable-dropdown"
    [value]="filterForm.get('facilityType')?.value"
    placeholder="Select an option"
    [options]="dropdownTransactionTypeOptions"
    label="Facility Type"
    formControlName="bankName"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'facilityType')"
  ></app-dynamic-input>

  <app-dynamic-input
    type="text"
    [value]="filterForm.get('debitAdvice')?.value"
    placeholder="Enter text"
    label="Debit Advice"
    formControlName="debitAdvice"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'debitAdvice')"
  ></app-dynamic-input>

  <div class="flex flex-wrap items-end content-center gap-2">
    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('startDate')?.value"
      label="Transaction Date"
      formControlName="startDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'startDate')"
    ></app-dynamic-input>

    <span class="mb-2 font-medium text-sm">Until</span>

    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('endDate')?.value"
      formControlName="endDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'endDate')"
    ></app-dynamic-input>
  </div>

  <app-dynamic-input
    type="dropdown"
    [value]="filterForm.get('tenorDateOnWeekend')?.value"
    placeholder="Select an option"
    [options]="dropdownTenorDateOnWeekendOptions"
    label="Tenor Date On Weekend"
    formControlName="tenorDateOnWeekend"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'tenorDateOnWeekend')"
  ></app-dynamic-input>
</app-content-filter>

<app-content-table
  [title]="'Facility Asset Transaction List'"
  [label]="'Add New Facility Asset Transaction'"
  [hasButton]="true"
  (buttonClick)="handleButtonClick({ key: 'add' })"
>
  <app-dynamic-table
    [headers]="headers"
    [rows]="data"
    [totalPages]="totalPages"
    [pageSize]="pageSize"
    [currentPage]="pageNo + 1"
    (buttonPagination)="onPageChange($event)"
    (buttonClick)="handleButtonClick($event)"
  >
  </app-dynamic-table>
</app-content-table>
