<app-dynamic-modal
  [title]="name"
  [showModal]="showModalDetail"
  (closeModal)="closeModalDetail()"
>
  <app-dynamic-preview-form
    [formGroup]="formGroup"
    [fields]="fields"
    (formCancel)="closeModalDetail()"
    [hasAction]="hasAction"
  ></app-dynamic-preview-form>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="name"
  [showModal]="showModalAction"
  (closeModal)="closeModalAction()"
>
  <app-dynamic-preview-form
    [formGroup]="formGroup"
    [fields]="fields"
    (formApprove)="onApprove()"
    (formReject)="onReject()"
    (formCancel)="closeModalAction()"
    [hasAction]="hasAction"
  ></app-dynamic-preview-form>
</app-dynamic-modal>

<app-content-card>
  <div class="flex gap-4" *ngFor="let card of cards">
    <app-dynamic-card [headerText]="card.headerText" [sections]="card.sections">
    </app-dynamic-card>
  </div>
</app-content-card>

<app-content-filter
  [title]="'Filter'"
  (buttonClickApply)="handleButtonClick({ key: 'apply' })"
  (buttonClickClear)="handleButtonClick({ key: 'clear' })"
>
  <app-dynamic-input
    type="text"
    [value]="filterForm.get('documentName')?.value"
    placeholder="Enter text"
    label="Document Name"
    formControlName="documentName"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'documentName')"
  ></app-dynamic-input>

  <app-dynamic-input
    type="dropdown"
    [value]="filterForm.get('status')?.value"
    placeholder="Select an option"
    [options]="dropdownOptions"
    label="Status"
    formControlName="status"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'status')"
  ></app-dynamic-input>

  <div class="flex flex-wrap items-end content-center gap-4">
    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('startDate')?.value"
      label="Created Date"
      formControlName="startDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'startDate')"
    ></app-dynamic-input>

    <span class="mb-2 font-medium text-sm">Until</span>

    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('endDate')?.value"
      formControlName="endDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'endDate')"
    ></app-dynamic-input>
  </div>
</app-content-filter>

<app-content-table
  [title]="'Cash Out Document List'"
  [label]="'Create New Document'"
  [hasButton]="true"
  (buttonClick)="handleButtonClick({ key: 'add' })"
>
  <app-dynamic-table
    [headers]="headers"
    [rows]="data"
    [totalPages]="totalPages"
    [pageSize]="pageSize"
    [currentPage]="pageNo + 1"
    (buttonPagination)="onPageChange($event)"
    (buttonClick)="handleButtonClick($event)"
  >
  </app-dynamic-table>
</app-content-table>
