<form [formGroup]="customForm" (ngSubmit)="onSubmit()">
  <div class="w-full flex flex-col items-center justify-center">
    <div
      class="w-full flex flex-col items-center p-5 max-h-[400px] overflow-y-auto"
    >
      <div
        class="w-full flex flex-col sm:flex-row gap-2 items-center justify-center px-5"
      >
        <button
          type="button"
          class="py-2 px-4 bg-custom-yellow text-xs rounded-lg hover:bg-custom-light-yellow focus:outline-none"
          [ngClass]="{
            'font-semibold': !isPartiallyPayment,
            'bg-white': isPartiallyPayment
          }"
          (click)="onPaymentTypeChange('fully')"
        >
          Fully Payment
        </button>
        <button
          type="button"
          class="py-2 px-4 bg-custom-yellow text-xs rounded-lg hover:bg-custom-light-yellow focus:outline-none"
          [ngClass]="{
            'font-semibold': isPartiallyPayment,
            'bg-white': !isPartiallyPayment
          }"
          (click)="onPaymentTypeChange('partially')"
        >
          Partially Payment
        </button>
      </div>

      <div
        class="w-full flex flex-col justify-between p-5 sm:min-w-[500px] sm:max-w-[500px]"
      >
        <label for="invoiceNo" class="text-sm mb-1">Invoice No</label>
        <div class="relative inline-block w-full">
          <input
            type="text"
            id="invoiceNo"
            name="invoiceNo"
            formControlName="invoiceNo"
            (input)="filterOptions($event, 'invoiceNo')"
            (focus)="setInitialOptions('invoiceNo')"
            (blur)="hideDropdown('invoiceNo')"
            class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none"
            autocomplete="off"
          />

          <div
            *ngIf="
              showDropdown['invoiceNo'] && filteredOptions['invoiceNo']?.length
            "
            class="bg-white border border-gray-300 rounded-md max-h-80 overflow-auto mt-1"
          >
            <ul>
              <li
                *ngFor="let option of filteredOptions['invoiceNo']"
                (click)="selectOption(option, 'invoiceNo')"
                class="px-4 py-2 cursor-pointer hover:bg-gray-100"
              >
                {{ option.label }}
              </li>
            </ul>
          </div>

          <div
            class="pointer-events-none absolute top-2.5 right-0 flex items-center pr-3 text-gray-700"
          >
            <svg
              class="w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </div>
        </div>

        <label for="amount" class="text-sm mb-1">Amount</label>
        <input
          id="amount"
          type="text"
          formControlName="amount"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none cursor-not-allowed"
          [attr.disabled]="true"
          [readonly]="true"
        />

        <ng-container *ngIf="showPaymentAmount">
          <label for="paidAmount" class="text-sm mb-1">Paid Amount</label>
          <input
            id="paidAmount"
            type="text"
            formControlName="paidAmount"
            class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none cursor-not-allowed"
            [attr.disabled]="!isPartiallyPayment"
            [readonly]="true"
          />
        </ng-container>

        <label for="partnerName" class="text-sm mb-1">Partner</label>
        <input
          id="partnerName"
          type="text"
          formControlName="partnerName"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none cursor-not-allowed"
          [attr.disabled]="true"
          [readonly]="true"
        />

        <label for="projectName" class="text-sm mb-1">Project</label>
        <input
          id="projectName"
          type="text"
          formControlName="projectName"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none cursor-not-allowed"
          [attr.disabled]="true"
          [readonly]="true"
        />

        <label for="paymentAmount" class="text-sm mb-1">Payment Amount</label>
        <input
          id="paymentAmount"
          type="text"
          formControlName="paymentAmount"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black"
          [readonly]="!isPartiallyPayment ? true : false"
          [ngClass]="
            !isPartiallyPayment
              ? ' focus:outline-none cursor-not-allowed '
              : ' focus:ring-2 focus:ring-custom-light-yellow focus:outline-none '
          "
        />

        <label for="interestDeduction" class="text-sm mb-1"
          >Interest Deduction</label
        >
        <input
          id="interestDeduction"
          type="text"
          formControlName="interestDeduction"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]"
        />

        <label for="otherDeduction" class="text-sm mb-1">Other Deduction</label>
        <input
          id="otherDeduction"
          type="text"
          formControlName="otherDeduction"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]"
        />

        <label for="netAmount" class="text-sm mb-1">Net Amount</label>
        <input
          id="netAmount"
          type="text"
          formControlName="netAmount"
          class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none cursor-not-allowed"
          [attr.disabled]="true"
          [readonly]="true"
        />

        <label for="paymentBank" class="text-sm mb-1">Payment Bank</label>
        <div class="relative w-full">
          <input
            id="paymentBank"
            type="text"
            formControlName="paymentBank"
            placeholder="Select an option"
            (input)="filterOptionsPaymentBank($event)"
            (focus)="
              showDropdownPaymentBank = true; setInitialOptionsPaymentBank()
            "
            (blur)="hideDropdownPaymentBank()"
            class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]"
            autocomplete="off"
          />
          <div
            *ngIf="showDropdownPaymentBank"
            class="absolute z-10 w-full bg-white border border-gray-300 rounded-md mt-1"
          >
            <ul>
              <li
                *ngFor="let option of filteredOptionsPaymentBank"
                (click)="selectOptionPaymentBank(option)"
                class="px-4 py-2 cursor-pointer hover:bg-gray-100"
              >
                {{ option.bankName }}
              </li>
            </ul>
          </div>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3 text-gray-700"
          >
            <svg
              class="w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col sm:flex-row gap-4 items-center justify-center px-5"
      >
        <label class="text-sm mb-1">
          <input
            type="radio"
            formControlName="cashInStatus"
            value="Pending Cash In"
          />
          Pending Cash In
        </label>
        <label class="text-sm mb-1">
          <input
            type="radio"
            formControlName="cashInStatus"
            value="Completed Cash In"
          />
          Completed Cash In
        </label>
      </div>
    </div>

    <div
      class="w-full flex flex-col sm:flex-row gap-4 items-center justify-between p-5 sm:min-w-[500px] sm:max-w-[500px]"
    >
      <button
        type="submit"
        class="w-full sm:min-w-[140px] sm:max-w-[140px] py-2 px-4 bg-custom-light-yellow text-xs font-semibold rounded-lg hover:bg-custom-yellow focus:outline-none focus:ring-2 focus:ring-custom-light-yellow focus:ring-opacity-50 disabled:bg-gray-400 disabled:text-gray-600"
        [disabled]="customForm.invalid"
      >
        Submit
      </button>
      <button
        type="button"
        class="w-full sm:min-w-[140px] sm:max-w-[140px] py-2 px-4 bg-custom-light-red text-xs font-semibold rounded-lg hover:bg-custom-red focus:outline-none focus:ring-2 focus:ring-custom-light-red focus:ring-opacity-50"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
