<app-dynamic-modal
  [title]="'Add new Item'"
  [showModal]="showModalAdd"
  (closeModal)="closeModalAdd()"
>
  <app-dynamic-form-on-pop-up
    [dynamicForm]="itemForm"
    [formConfig]="formConfig"
    (formSubmit)="handleFormSubmit($event, 'add')"
    (formCancel)="handleFormCancel()"
  >
  </app-dynamic-form-on-pop-up>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Edit Item'"
  [showModal]="showModalEdit"
  (closeModal)="closeModalEdit()"
>
  <app-dynamic-form-on-pop-up
    [formValue]="{
      formItemName: itemForm.get('formItemName')?.value,
      id: itemForm.get('id')?.value
    }"
    [dynamicForm]="itemForm"
    [formConfig]="formConfig"
    (formSubmit)="handleFormSubmit($event, 'edit')"
    (formCancel)="handleFormCancel()"
  >
  </app-dynamic-form-on-pop-up>
</app-dynamic-modal>

<app-content-filter
  [title]="'Filter'"
  (buttonClickApply)="handleButtonClick({ key: 'apply' })"
  (buttonClickClear)="handleButtonClick({ key: 'clear' })"
>
  <app-dynamic-input
    type="text"
    [value]="filterForm.get('itemName')?.value"
    placeholder="Enter text"
    label="Item Name"
    formControlName="itemName"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'itemName')"
  ></app-dynamic-input>
</app-content-filter>

<app-content-table
  [title]="'Item List'"
  [label]="'Add New Item'"
  [hasButton]="true"
  (buttonClick)="handleButtonClick({ key: 'add' })"
>
  <app-dynamic-table
    [headers]="headers"
    [rows]="data"
    [totalPages]="totalPages"
    [pageSize]="pageSize"
    [currentPage]="pageNo + 1"
    (buttonPagination)="onPageChange($event)"
    (buttonClick)="handleButtonClick($event)"
  >
  </app-dynamic-table>
</app-content-table>
