<app-dynamic-modal
  [title]="'Complete Cash In'"
  [showModal]="showModalCashInStatus"
  (closeModal)="closeModalCashInStatus()"
>
  <app-dynamic-form-complete-cash-in
    [invoiceNo]="invoiceNo"
    [paymentAmount]="paymentAmount"
    [partnerName]="partnerName"
    [projectName]="projectName"
    [cashInStatus]="cashInStatus"
    [paymentType]="paymentType"
    [contractName]="contractName"
    (formSubmit)="handleFormSubmit($event, 'complete')"
    (formCancel)="closeModalCashInStatus()"
  ></app-dynamic-form-complete-cash-in>
</app-dynamic-modal>

<app-dynamic-modal
  [title]="'Add new Cash In'"
  [showModal]="showModalAdd"
  (closeModal)="closeModalAdd()"
>
  <app-dynamic-form-cash-in-v2
    [invoiceNo]="invoiceNo"
    [partnerName]="partnerName"
    [projectName]="projectName"
    [amount]="amount"
    [netAmount]="netAmount"
    [paidAmount]="paidAmount"
    [interestDeduction]="interestDeduction"
    [otherDeduction]="otherDeduction"
    [paymentAmount]="paymentAmount"
    [optionsPaymentBank]="dropdownOptionsPaymentBank"
    (formSubmit)="handleFormSubmit($event, 'add')"
    (formCancel)="closeModalAdd()"
    [options]="dropdownOptionsInvoice"
  ></app-dynamic-form-cash-in-v2>
</app-dynamic-modal>

<app-content-card>
  <div class="flex gap-4" *ngFor="let card of cards">
    <app-dynamic-card [headerText]="card.headerText" [sections]="card.sections">
    </app-dynamic-card>
  </div>
</app-content-card>

<app-content-filter
  [title]="'Filter'"
  (buttonClickApply)="handleButtonClick({ key: 'apply' })"
  (buttonClickClear)="handleButtonClick({ key: 'clear' })"
>
  <app-dynamic-input
    type="text"
    [value]="filterForm.get('partnerName')?.value"
    placeholder="Enter text"
    label="Customer Name"
    formControlName="partnerName"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'partnerName')"
  ></app-dynamic-input>

  <app-dynamic-input
    type="text"
    [value]="filterForm.get('projectName')?.value"
    placeholder="Enter text"
    label="Project Name"
    formControlName="projectName"
    [inputClass]="
      'px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'projectName')"
  ></app-dynamic-input>

  <app-dynamic-input
    type="dropdown"
    [value]="filterForm.get('paymentType')?.value"
    placeholder="Select an option"
    [options]="dropdownOptions"
    label="Payment Type"
    formControlName="paymentType"
    [inputClass]="
      'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
    "
    [labelClass]="'font-medium text-sm mb-1'"
    (valueChange)="handleValueChange($event, 'paymentType')"
  ></app-dynamic-input>

  <div class="flex flex-wrap items-end content-center gap-4">
    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('startDate')?.value"
      label="Payment Date"
      formControlName="startDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'startDate')"
    ></app-dynamic-input>

    <span class="mb-2 font-medium text-sm">Until</span>

    <app-dynamic-input
      type="datepicker"
      [value]="filterForm.get('endDate')?.value"
      formControlName="endDate"
      [inputClass]="
        'w-full px-3 py-2 border rounded rounded-lg border-black border-[0.37px] text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow'
      "
      [labelClass]="'font-medium text-sm mb-1'"
      (valueChange)="handleValueChange($event, 'endDate')"
    ></app-dynamic-input>
  </div>
</app-content-filter>

<app-content-table
  [title]="'Cash In Payment List'"
  [label]="'Add New Cash In'"
  [hasButton]="true"
  (buttonClick)="handleButtonClick({ key: 'add' })"
>
  <app-dynamic-table
    [headers]="headers"
    [rows]="data"
    [totalPages]="totalPages"
    [pageSize]="pageSize"
    [currentPage]="pageNo + 1"
    (buttonPagination)="onPageChange($event)"
    (buttonClick)="handleButtonClick($event)"
  >
  </app-dynamic-table>
</app-content-table>
