<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div class="w-full flex flex-col items-center justify-center">
    <div
      class="w-full flex flex-col items-center p-5 sm:min-w-[400px] sm:max-w-[400px] max-h-[400px] overflow-y-auto"
    >
      <ng-container *ngFor="let field of formConfig">
        <div class="w-full flex flex-col" [ngClass]="{ hidden: field.hidden }">
          <label [for]="field.key" class="text-sm mb-1">{{
            field.label
          }}</label>

          <ng-container
            *ngIf="
              ['text', 'email', 'tel', 'date', 'number'].includes(field.type)
            "
          >
            <input
              [id]="field.key"
              [name]="field.key"
              [type]="field.type"
              [formControlName]="field.key"
              [placeholder]="field.placeholder || 'Enter text'"
              [pattern]="field.pattern"
              [inputMode]="field.inputmode"
              [class]="
                field.width
                  ? field.width +
                    ' form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]'
                  : 'w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]'
              "
              [ngClass]="{
                'border-red-500 focus:ring-red-500':
                  dynamicForm.get(field.key)?.invalid &&
                  (dynamicForm.get(field.key)?.touched ||
                    dynamicForm.get(field.key)?.dirty),
                'border-[#A4A4A4] focus:ring-custom-light-yellow':
                  dynamicForm.get(field.key)?.valid ||
                  !(
                    dynamicForm.get(field.key)?.touched ||
                    dynamicForm.get(field.key)?.dirty
                  )
              }"
            />
          </ng-container>

          <ng-container *ngIf="field.type === 'select'">
            <div class="relative inline-block w-full">
              <select
                [id]="field.key"
                [name]="field.key"
                [formControlName]="field.key"
                class="w-full pr-8 appearance-none form-select text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]"
                [ngClass]="{
                  'border-red-500 focus:ring-red-500':
                    dynamicForm.get(field.key)?.invalid &&
                    (dynamicForm.get(field.key)?.touched ||
                      dynamicForm.get(field.key)?.dirty),
                  'border-[#A4A4A4] focus:ring-custom-light-yellow':
                    dynamicForm.get(field.key)?.valid ||
                    !(
                      dynamicForm.get(field.key)?.touched ||
                      dynamicForm.get(field.key)?.dirty
                    )
                }"
              >
                <option [value]="null" disabled hidden>Select an option</option>
                <option
                  *ngFor="let option of field.options"
                  [value]="option.value"
                >
                  {{ option.label }}
                </option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3 text-gray-700"
              >
                <svg
                  width="16"
                  height="8"
                  viewBox="0 0 16 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.988143 0.507823L8.5 7.50022L15.9881 0.492631L0.988143 0.507823Z"
                    fill="black"
                    fill-opacity="0.5"
                  />
                </svg>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="field.type === 'searchable-dropdown'">
            <div class="relative w-full">
              <input
                type="text"
                [id]="field.key"
                [name]="field.key"
                [formControlName]="field.key"
                placeholder="{{ field.placeholder }}"
                (input)="filterOptions($event, field.key)"
                (focus)="
                  showDropdown[field.key] = true; setInitialOptions(field.key)
                "
                (blur)="hideDropdown(field.key)"
                class="w-full pr-8 appearance-none form-select text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]"
                [ngClass]="{
                  'border-red-500 focus:ring-red-500':
                    dynamicForm.get(field.key)?.invalid &&
                    (dynamicForm.get(field.key)?.touched ||
                      dynamicForm.get(field.key)?.dirty),
                  'border-[#A4A4A4] focus:ring-custom-light-yellow':
                    dynamicForm.get(field.key)?.valid ||
                    !(
                      dynamicForm.get(field.key)?.touched ||
                      dynamicForm.get(field.key)?.dirty
                    )
                }"
                autocomplete="off"
              />
              <div
                *ngIf="showDropdown[field.key]"
                class="absolute z-10 w-full bg-white border border-gray-300 rounded-md h-[80px] overflow-auto mt-2"
              >
                <ul>
                  <li
                    *ngFor="let option of filteredOptions[field.key]"
                    (click)="selectOption(option, field.key)"
                    class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                  >
                    {{ option.label }}
                  </li>
                </ul>
              </div>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3 text-gray-700"
              >
                <svg
                  class="w-4 h-4"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  ></path>
                </svg>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="field.type === 'multicheckbox-dropdown'">
            <div class="relative w-full">
              <button
                [id]="field.key"
                [name]="field.key"
                type="button"
                (click)="toggleDropdown(field.key)"
                class="w-full pr-8 appearance-none form-select text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]"
                [ngClass]="{
                  'border-red-500 focus:ring-red-500':
                    dynamicForm.get(field.key)?.invalid &&
                    (dynamicForm.get(field.key)?.touched ||
                      dynamicForm.get(field.key)?.dirty),
                  'border-[#A4A4A4] focus:ring-custom-light-yellow':
                    dynamicForm.get(field.key)?.valid ||
                    !(
                      dynamicForm.get(field.key)?.touched ||
                      dynamicForm.get(field.key)?.dirty
                    )
                }"
              >
                <span class="block whitespace-nowrap overflow-y-auto">{{
                  dynamicForm.get(field.key)?.value
                    ? selectedOptionsText[field.key] ||
                      field.placeholder ||
                      "Select options"
                    : "Select options"
                }}</span>
              </button>
              <div
                *ngIf="showDropdown[field.key]"
                class="absolute z-10 w-full bg-white border border-gray-300 rounded-md h-[80px] overflow-auto mt-2"
              >
                <input
                  type="text"
                  placeholder="Search options"
                  class="w-full pr-8 appearance-none form-select text-left border-0 border-[#A4A4A4] px-3 py-2 text-sm placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]"
                  (input)="filterOptions($event, field.key)"
                />
                <ul>
                  <li
                    *ngFor="let option of filteredOptions[field.key]"
                    (click)="toggleOption(option, field.key)"
                    class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                  >
                    <input
                      [id]="option.value"
                      type="checkbox"
                      [checked]="isSelected(option, field.key)"
                      class="mr-2"
                    />
                    {{ option.label }}
                  </li>
                </ul>
              </div>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3 text-gray-700"
              >
                <svg
                  width="16"
                  height="8"
                  viewBox="0 0 16 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.988143 0.507823L8.5 7.50022L15.9881 0.492631L0.988143 0.507823Z"
                    fill="black"
                    fill-opacity="0.5"
                  />
                </svg>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="field.type === 'datepicker'">
            <input
              [id]="field.key"
              [name]="field.key"
              type="date"
              [formControlName]="field.key"
              [placeholder]="field.placeholder || 'Select a date'"
              class="w-full form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]"
            />
          </ng-container>

          <div
            *ngIf="
              dynamicForm.get(field.key)?.invalid &&
              (dynamicForm.get(field.key)?.touched ||
                dynamicForm.get(field.key)?.dirty)
            "
            class="text-red-500 text-xs mt-1"
          >
            {{ getErrorMessage(field.key) }}
          </div>
        </div>
      </ng-container>

      <div
        [formArrayName]="formArrayName"
        class="w-full flex flex-col gap-1 mb-2"
      >
        <span class="text-sm">{{ labelFormArray }}</span>
        <div
          *ngFor="let item of formArray.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="flex justify-between gap-auto">
            <ng-container *ngFor="let field of itemConfig">
              <div class="flex flex-col w-fit justify-center items-center">
                <label
                  [for]="field.key + '-' + i"
                  class="text-xs font-light mb-1"
                  [ngClass]="i !== 0 ? 'invisible h-1' : ''"
                  >{{ field.label }}</label
                >

                <ng-container
                  *ngIf="['text', 'email', 'tel', 'date'].includes(field.type)"
                >
                  <input
                    [id]="field.key + '-' + i"
                    [name]="field.key + '-' + i"
                    [type]="field.type"
                    [formControlName]="field.key"
                    [placeholder]="field.placeholder || ''"
                    [pattern]="field.pattern"
                    [inputMode]="field.inputmode"
                    [class]="
                      field.width
                        ? field.width +
                          ' mb-1 form-input text-left border border-[#A4A4A4] px-1 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]'
                        : 'mb-1 form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]'
                    "
                    [readonly]="field.key === 'formPaidQuantity' ? true : false"
                    [ngClass]="{
                      'border-red-500 focus:ring-red-500':
                        dynamicForm.get(field.key)?.invalid &&
                        (dynamicForm.get(field.key)?.touched ||
                          dynamicForm.get(field.key)?.dirty),
                      'border-[#A4A4A4] focus:ring-custom-light-yellow':
                        dynamicForm.get(field.key)?.valid ||
                        !(
                          dynamicForm.get(field.key)?.touched ||
                          dynamicForm.get(field.key)?.dirty
                        ),
                      'bg-gray-100 cursor-not-allowed focus:ring-0':
                        field.key === 'formPaidQuantity'
                    }"
                  />
                </ng-container>

                <ng-container *ngIf="['number-only-dot'].includes(field.type)">
                  <input
                    [id]="field.key + '-' + i"
                    [name]="field.key + '-' + i"
                    type="text"
                    [formControlName]="field.key"
                    [placeholder]="field.placeholder || ''"
                    [pattern]="field.pattern"
                    [inputMode]="field.inputmode"
                    [class]="
                      field.width
                        ? field.width +
                          ' mb-1 form-input text-left border border-[#A4A4A4] px-1 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]'
                        : 'mb-1 form-input text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]'
                    "
                    [readonly]="field.key === 'formPaidQuantity' ? true : false"
                    [ngClass]="{
                      'border-red-500 focus:ring-red-500':
                        dynamicForm.get(field.key)?.invalid &&
                        (dynamicForm.get(field.key)?.touched ||
                          dynamicForm.get(field.key)?.dirty),
                      'border-[#A4A4A4] focus:ring-custom-light-yellow':
                        dynamicForm.get(field.key)?.valid ||
                        !(
                          dynamicForm.get(field.key)?.touched ||
                          dynamicForm.get(field.key)?.dirty
                        ),
                      'bg-gray-100 cursor-not-allowed focus:ring-0':
                        field.key === 'formPaidQuantity'
                    }"
                    appAllowDotOnly
                  />
                </ng-container>

                <ng-container *ngIf="field.type === 'select'">
                  <div class="relative inline-block">
                    <select
                      [id]="field.key + '-' + i"
                      [name]="field.key + '-' + i"
                      [formControlName]="field.key"
                      class="mb-1 pr-8 appearance-none form-select text-left border border-[#A4A4A4] px-3 py-2 text-sm font-medium placeholder:text-black focus:outline-none focus:ring-2 focus:ring-custom-light-yellow disabled:bg-[#ECECEC]"
                      [ngClass]="{
                        'border-red-500 focus:ring-red-500':
                          dynamicForm.get(field.key)?.invalid &&
                          (dynamicForm.get(field.key)?.touched ||
                            dynamicForm.get(field.key)?.dirty),
                        'border-[#A4A4A4] focus:ring-custom-light-yellow':
                          dynamicForm.get(field.key)?.valid ||
                          !(
                            dynamicForm.get(field.key)?.touched ||
                            dynamicForm.get(field.key)?.dirty
                          )
                      }"
                    >
                      <option [value]="null" disabled hidden>
                        Select an option
                      </option>
                      <option
                        *ngFor="let option of field.options"
                        [value]="option.value"
                      >
                        {{ option.label }}
                      </option>
                    </select>
                    <div
                      class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3 text-gray-700"
                    >
                      <svg
                        width="16"
                        height="8"
                        viewBox="0 0 16 8"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M0.988143 0.507823L8.5 7.50022L15.9881 0.492631L0.988143 0.507823Z"
                          fill="black"
                          fill-opacity="0.5"
                        />
                      </svg>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <button
              type="button"
              (click)="removeItemDetail(i)"
              [ngClass]="i === 0 ? 'invisible' : ''"
            >
              <svg
                width="16"
                height="15"
                viewBox="0 0 16 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="8" cy="7.5" r="7.5" fill="#FF9595" />
                <path
                  d="M4.46221 5.38193L6.58541 7.50136L4.46597 9.62456L5.88144 11.0375L8.00088 8.91432L10.1241 11.0338L11.537 9.61829L9.41384 7.49885L11.5333 5.37565L10.1178 3.96269L7.99837 6.0859L5.87517 3.96646L4.46221 5.38193Z"
                  fill="black"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <button type="button" (click)="addItemDetail()">
        <svg
          width="16"
          height="15"
          viewBox="0 0 16 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="8" cy="7.5" r="7.5" fill="#D9D9D9" fill-opacity="0.7" />
          <path
            d="M7 3.5V6.5H4V8.5H7V11.5H9V8.5H12V6.5H9V3.5H7Z"
            fill="#646161"
            fill-opacity="0.7"
          />
        </svg>
      </button>
    </div>

    <div
      class="w-full flex flex-col sm:flex-row gap-4 items-center justify-between p-5 sm:min-w-[400px] sm:max-w-[400px]"
    >
      <button
        type="submit"
        class="w-full sm:min-w-[140px] sm:max-w-[140px] py-2 px-4 bg-custom-light-yellow text-xs font-semibold rounded-lg hover:bg-custom-yellow focus:outline-none focus:ring-2 focus:ring-custom-light-yellow focus:ring-opacity-50 disabled:bg-gray-400 disabled:text-gray-600"
        [disabled]="dynamicForm.invalid"
      >
        Submit
      </button>
      <button
        type="button"
        class="w-full sm:min-w-[140px] sm:max-w-[140px] py-2 px-4 bg-custom-light-red text-xs font-semibold rounded-lg hover:bg-custom-red focus:outline-none focus:ring-2 focus:ring-custom-light-red focus:ring-opacity-50"
        (click)="closeModal()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
